/* 
  ===================
    Table of contents: 
      1- global style 
      2- layout
      3- components
      4- media queries
  ====================
  
  *****************
  1- global style
  *****************
  */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
:root {
    --very-dark-magenta:hsl(300, 43%, 22%);
    --soft-pink:hsl(333, 80%, 67%);
    --dark-grayish-magenta:hsl(303, 10%, 53%);
    --light-grayish-magenta:hsl(300, 24%, 96%);
    --white:hsl(0, 0%, 100%);
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    min-height: 100vh;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img {
    display: block; 
    max-width: 100%;
}
/* 
  *****************
  2- layout
  *****************
  */
body {
    display: grid;
    place-content: center;
    padding: 24px;
    font-family: 'League Spartan', sans-serif;
    font-size: 0.9rem;
    background-image: url(images/bg-pattern-top-mobile.svg), 
                    url(images/bg-pattern-bottom-mobile.svg);
    background-position: left  top , 
                        right  bottom ;
    background-repeat: no-repeat;
}
main {
    display: grid;
    grid-template-areas: "header"
                          "ratings"
                          "cards";
    gap: 1em;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1.5em;
}
/* 
  *****************
  3- components
    3-1 header
    3-2 ratings
    3-3 cards
  ***************** 

  ===================
        header
  ===================
  */
  
.header {
    grid-area: header;
}
.header > * {
    /*
        margin-block fallback 
     */ 
    margin-top: 16px;
    margin-bottom: 16px;
    margin-block: 16px;
}
.header-title {
    max-width: 15ch;
    line-height: 1.1;
    color: var(--very-dark-magenta);    
}
.header-title,
.header-description {
    /*
        margin-inline fallback 
     */ 
    margin-left: auto;
    margin-right: auto;
    margin-inline: auto;
}
.header-description {
    max-width: 44ch;
    font-weight: 500;
    color: var(--dark-grayish-magenta);
}
.header-title ,
.ratings li {
    font-weight: 700;
}
   /* 
  ===================
        ratings
  ===================
  */
.ratings {
    grid-area: ratings;
}
.ratings ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0px;
    list-style-type: none;
    color: var(--very-dark-magenta);
}
.header,
.ratings ul{
    text-align: center;
}
.ratings li {
    position: relative;
    border-radius: 10px; 
    /*
        padding-block fallback 
     */ 
    padding-top: 16px;   
    padding-bottom: 16px;
    padding-block: 16px;
    background-color: var(--light-grayish-magenta);
}
.pos-bg::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    width: 151px;
    height: 25px;
    /*
        margin-inline fallback 
     */ 
    margin-right: auto;
    margin-left: auto;
    margin-inline: auto;
}
.stars::after {
    background-image: url(images/icon-star.svg),
                      url(images/icon-star.svg),
                      url(images/icon-star.svg),
                      url(images/icon-star.svg),
                      url(images/icon-star.svg); 
    background-repeat: no-repeat;
    background-position: 113px top, 
                        right 105px top, 
                        right 85px top, 
                        left 92px top, 
                        left 70px top;
}
  /* 
  =======================
        cards componenet
  ========================
 */
.cards {
    grid-area: cards;
}
.card {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--very-dark-magenta);
}
.card-header {
    display: flex;
    gap: 1.5em;
}
.card-header h2,
.card-description {
    color: var(--white);
}
.card-header h2 {
    max-width: 15ch;
    font-size: 1rem;
}
.card-header span {
    color: var(--soft-pink);
}
.card-header img {
    align-self: center;
    width: 40px;
    border-radius: 50%;
}
.card-description {
    margin-top: 16px;
}

@media only screen and (min-width: 600px)  {
    main {
        grid-template-areas: "header ratings"
                              "cards cards";
        grid-template-columns: 1fr 1fr;                      
    }
    .header {
        text-align: initial;
    }
    .header-title {
        font-size: 2.2rem;
      }
    .header-title,
    .header-description {
        margin-left: initial;
    }
    .ratings {
        align-self: center;
    } 
}
@media only screen and (min-width: 900px)  {  
    main {
        max-width: 66rem;
    }
    .ratings li {
        width: 64%;
      }
    .ratings li:nth-child(2) {
        align-self: center;
    }
    .ratings li:last-child {
        align-self: flex-end;
    }
    .cards {
        grid-template-rows: 10px 10px 1fr;
        grid-template-areas: "col-1 . ."
                            "col-1 col-2 ." 
                            "col-1 col-2 col-3"
                            ".     col-2 col-3"
                            ".        .    col-3"  ;
    }
    .card:first-child {
         grid-area:col-1;  
    }
    .card:nth-child(2){
        grid-area:col-2;
    }
    .card:last-child {
        grid-area:col-3;      
    }  
}
@media only screen and (min-width: 1200px)  { 
    .ratings li {
      text-align: end;
    }
    .pos-bg::after {
      left: -15px;
      top: 16px;
      margin-left: initial;
    }
  }